<div class="col-md-8 mx-auto mt-0">
    <div class="card">
        <div class="card-header text-center">
            <h1 class="h3 text-white">Agregar el Primer Administrador</h1>
        </div>
        <div class="card-body">   
            
            <form action="/users/createAdmin" class= "justify-content-center" method="POST">  

                <h6 class="font-weight-bold mt-0 mb-1">Información personal</h6>                              
                <div class="form-group row d-flex justify-content-center"> 
                    <div class="col-md-6 mb-2">                        
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="identification_type">
                            <!-- Circulear externa 024 de 2019 Ministerio de protección social -->                            
                            <option selected>Elija un tipo de identificación</option>                            
                            <option value="Cedula">Cédula</option>
                            <option value="Cedula_extrangeria">Cédula de extrangería</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Tarjeta_identidad">Tarjeta de identidad</option>
                            <option value="Registro_civil">Registro civil</option>
                            <option value="Carnet_diplomatico">Carné diplomático</option>
                            <option value="Perm_especial_permanencia">Permiso especial de permanencia</option>
                        </select>
                    </div> 
                    <div class="col-md-6 mb-2">
                        <input type="number" class="form-control bg-light" name="identification" placeholder="Número de identificación"
                            value="{{identification}}">
                    </div>     
                    <div class="col-md-4 mb-0">
                        <input type="text" class="form-control bg-light" name="name" placeholder="Nombres"
                            value="{{name}}">
                    </div>
                    <div class="col-md-4 mb-0">
                        <input type="text" class="form-control bg-light" name="lastname" placeholder="Primer apellido"
                            value="{{lastname}}">
                    </div>
                    <div class="col-md-4 mb-0">
                        <input type="text" class="form-control bg-light" name="sec_lastname"
                            placeholder="Segundo apellido" value="{{sec_lastname}}">
                    </div>                                       
                </div>                                  
                <hr>

                <h6 class="font-weight-bold mt-0 mb-1">Información general</h6>                              
                <div class="form-group row"> 
                    <div class="col-md-4 mb-0">
                        <label for="f_nac" class="mb-0">Fecha de nacimiento:</label>
                        <input type="date" class="form-control bg-light mt-0" id="f_nac" name="date_of_bird" placeholder="Fecha de nacimiento"
                            value="{{date_of_bird}}">
                    </div>
                    <div class="col-md-4 mb-2">  
                        <label for="genero" class="mb-0">Género:</label>                      
                        <select class="custom-select mr-sm-2" id="gender" name="gender">            
                            <option value="Masculino">Masculino</option> 
                            <option value="Femenino">Femenino</option>  
                            <option value="Otro">Otro</option>                         
                        </select>
                    </div>
                    <div class="col-md-4 mb-0">
                        <label for="numero" class="mb-0">Teléfono móvil:</label> 
                        <input type="number" class="form-control bg-light" name="mobile_phone"
                            placeholder="Número móvil" value="{{mobile_phone}}">
                    </div> 
                </div>
                <hr>

                <h6 class="font-weight-bold mt-0 mb-1">Información de sesión</h6>                              
                <div class="form-group row d-flex justify-content-center">                    
                    <div class="col-md-6 mb-2">                        
                        <select class="custom-select mr-sm-2" id="role" name="role">                            
                            <option value="Admin">Administrador de la plataforma</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="email" class="form-control bg-light" name="email" placeholder="Email"
                            value="{{email}}">
                    </div>
                    <div class="col-md-6 mb-0">
                        <input type="password" class="form-control bg-light" name="password" placeholder="Contraseña">
                    </div>
                    <div class="col-md-6 mb-0">
                        <input type="password" class="form-control bg-light" name="confirm_password" placeholder="Confirmar contraseña">           
                    </div>                   
                </div>

                <h6 class="font-weight-bold mt-0 mb-1">Datos de empresa</h6>                              
                <div class="form-group row"> 
                    <div class="col-md-6 mb-2"> 
                        <label for="company_name" class="mb-0">Nombre entidad</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="company_name" name="company_name" placeholder="Nombre entidad"
                                  value="LCA SYS">
                    </div>
                    <div class="col-md-6 mb-2"> 
                        <label for="nit" class="mb-0">NIT</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="nit" name="nit" placeholder="Nit Entidad"
                                  value="83234971">
                    </div> 
                    <div class="col-md-6 mb-2"> 
                        <label for="company_city" class="mb-0">Ciudad</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="company_city" name="company_city" placeholder="ciudad entidad"
                                  value="Neiva">
                    </div>
                    <div class="col-md-6 mb-2"> 
                        <label for="company_department" class="mb-0">Departamento</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="company_department" name="company_department" placeholder="departamento Entidad"
                                  value="Huila">
                    </div> 
                    <div class="col-md-6 mb-2"> 
                        <label for="company_address" class="mb-0">Dirección</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="company_address" name="company_address" placeholder="direccion entidad"
                                  value="Calle 51 #24-14 Los Cipreses">
                    </div>
                    <div class="col-md-6 mb-2"> 
                        <label for="company_phone" class="mb-0">Teléfono entidad</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="company_phone" name="company_phone" placeholder="telefono Entidad"
                                  value="3115319492">
                    </div> 
                    <div class="col-md-4 mb-0">
                        <label for="date_legal_name" class="mb-0">Datos del representante legal</label><br>
                        <label for="legal_name" class="mb-0">Nombre</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="legal_name" name="legal_name" placeholder="nombre del representante legal"
                                  value="Leando Enrique">
                    </div>
                    <div class="col-md-4 mb-0">
                        <br>
                        <label for="legal_lastname" class="mb-0">Primer apellido</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="legal_lastname" name="legal_lastname" placeholder="apellido del representante legal"
                                  value="Cuellar">
                    </div>
                    <div class="col-md-4 mb-0">
                        <br>
                        <label for="legal_sec_lastname" class="mb-0">Segundo apellido</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="legal_sec_lastname" name="legal_sec_lastname" placeholder="segundo apellido del representante legal"
                                  value="Artunduaga">
                    </div>
                    <div class="col-md-4 mb-0">
                        <label for="legal_type_identification" class="mb-0">Tipo de identificación</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="legal_type_identification" name="legal_type_identification" placeholder="tipo identificacion del representante legal"
                                  value="Cédula">
                    </div>
                    <div class="col-md-4 mb-0">
                        <label for="legal_number_identification" class="mb-0">Número de identificación</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="legal_number_identification" name="legal_number_identification" placeholder="numero de id del representante legal"
                                  value="83234971">
                    </div>
                    <div class="col-md-4 mb-0">
                        <label for="legal_mobile_number" class="mb-0">Teléfono móvil</label>
                        <input type="text" readonly=»readonly» class="form-control bg-light mt-0" id="legal_mobile_number" name="legal_mobile_number" placeholder="numero telefono del representante legal"
                                  value="3115319492">
                    </div>
                </div>
                <hr>

                <div class="col-md-4 mx-auto">                  
                    <button class="btn btn-primary btn-block">Registrar</button>
                </div>        
            </form>            
        </div>
    </div>    
</div>

<br> 